@import '../../utils/main.scss';

.Separator {
  max-width: $maxWidth;
  margin: 0 auto;

  position: relative;
  top: -8px;

  width: 100%;
  height: 16px;

  background-color: $c-blackShadows;
  transition: background-color $transitionTime;

  &--dark {
    background-color: $c-bloodRed;
  }
}
