@import '../../utils/main.scss';

.Menu {
  $root: "&";

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 40%;
  height: 60vh;

  background-color: $c-lightGray;

  &__themeIcon {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__closed {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;

    transform: translateY(-200vh);
    transition: transform $transitionTime;
  }

  &__open {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;

    transform: translateY(-5vh);
    transition: transform $transitionTime;
  }

  &__list {
    width: 100%;
    margin: 136px auto 0;
  }

  &__item {
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    padding: 4px;
    color: $c-eerieBlack;

    @include hoverState(color, $c-imperialRed);
  }

  &__toggler {
    cursor: pointer;

    background-color: transparent;
    border: none;
  }

  &__close {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &__cross-label {
    position: absolute;
    top: -64px;
    right: -36px;

    display: flex;
    align-items: center;

    text-transform: uppercase;
    color: $c-eerieBlack;
    font-family: 'DynaPuff', cursive;

    transform: rotate(-90deg);
    transition: color $transitionTime;
  }

  &__line {
    display: inline-block;
    margin-right: 4px;
    width: 40px;
    height: 1px;
    background-color: $c-eerieBlack;
    transition: color $transitionTime,
      background-color $transitionTime;
  }

  &__cross {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    height: 16px;
    width: 16px;

    &-line1,
    &-line2,
    &-line3 {
      position: absolute;
      height: 1px;
      background-color: $c-eerieBlack;
      transition: color $transitionTime,
        transform $transitionTime;
    }

    &-line1 {
      top: 0;
      left: 0;
      width: 200%;
      transform-origin: 0 0;
    }

    &-line2 {
      top: 50%;
      bottom: 50%;
      width: 100%;
      transition: color $transitionTime,
        opacity $transitionTime;
    }

    &-line3 {
      left: 0;
      bottom: 0;
      width: 200%;
      transform-origin: 0 100%;
    }
  }

  //hover states
  &__toggler {
    &:hover .Menu__cross-line1,
    &:hover .Menu__cross-line2,
    &:hover .Menu__cross-line3,
    &:hover .Menu__line {
      background-color: $c-imperialRed;
    }

    &:hover .Menu__cross-label {
      color: $c-imperialRed;
    }

    &:hover .Menu__cross-line1 {
      transform: rotate(45deg);
    }

    &:hover .Menu__cross-line3 {
      transform: rotate(-45deg);
    }

    &:hover .Menu__cross-line2 {
      opacity: 0;
    }
  }
}
