@import '../../utils/main.scss';

.ContactBar {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 8;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  // background-color: aqua;

  &__link {
    display: block;
    @extend %iconSize;
  }

  &__icon {
    @extend %iconSize;
    border: 2px solid transparent;
    border-radius: 20%;

    background-position: center;
    background-repeat: cover;
    background-repeat: no-repeat;
    background-color: $c-cultured;

    transform: translateY(0);
    transition: transform $transitionTime,
      background-color $transitionTime;

    &--linkedIn {
      background-image: url("../../images/linkedIn-icon.svg");

      &:hover {
        background-color: #0e76a8;
      }
    }

    &--whatsApp {
      background-image: url("../../images/whatsapp.svg");

      &:hover {
        background-color: #25d366;
      }
    }

    &:hover {
      transform: translateY(-4px);
    }
  }
}