@import '../../utils/main.scss';

.About {
  height: 100vh;  
  @extend %paddingSection;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  gap: 20px;

  &__title {
    grid-area: 1 / 1 / 1 / 1;
    @extend %fontSizeSectionTitle;
  }

  &__main {
    grid-area: 2 / 1 / 2 / 1;
  }
}
