@import '../../utils/main.scss';

.NavBar {
  @extend %minMaxWidth;
  margin: 0 auto;

  font-family: 'DynaPuffSemiBold', cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;
  padding-right: $sectionPaddingMainHor;
  background-color: $c-transparentCultured;

  transition: background-color $transitionTime;

  @include mediaMaxWidth($tabletWidth) {
    padding-right: $sectionPaddingTabletHor;
  }

  @include mediaMaxWidth($mobileWidth) {
    padding-right: $sectionPaddingMobileHor;
  }

  &--dark {
    background-color: $c-transparentEerieBlack;
  }

  &__home {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $c-eerieBlack;
    transition: color $transitionTime;

    &--dark {
      color: $c-cultured;
    }

    &:hover {
      color: $c-imperialRed;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -14px; 
    left: -8px;
    border-radius: 100%;
    background-color: $c-imperialRed;
    animation: rotateHexa 5s linear infinite;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    position: relative;

    color: $c-eerieBlack;
    transition: color $transitionTime;

    &--dark {
      color: $c-cultured;
    }

    &:hover {
      color: $c-imperialRed;
    }
  }
}
