@import '../../utils/main.scss';

.NavBar {
  font-family: 'DynaPuffSemiBold', cursive;
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;
  padding-right: $sectionPaddingMain;
  background-color: $c-lightGray;

  transition: background-color $transitionTime;

  &--dark {
    background-color: $c-richBlack;
  }

  &__home {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $c-eerieBlack;
    transition: color $transitionTime;

    &--dark {
      color: $c-cultured;
    }

    &:hover {
      color: $c-imperialRed;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -14px; 
    left: -8px;
    border-radius: 100%;
    background-color: $c-imperialRed;
    animation: rotateHexa 5s linear infinite;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    color: $c-eerieBlack;
    transition: color $transitionTime;

    &--dark {
      color: $c-cultured;
    }

    &:hover {
      color: $c-imperialRed;
    }
  }
}
