%minMaxWidth {
  min-width: $minWidth;
  max-width: $maxWidth;
}

%paddingSection {
  padding: $sectionPaddingMainVer $sectionPaddingMainHor;

  @include mediaMaxWidth($tabletWidth) {
    padding: $sectionPaddingTabletVer $sectionPaddingTabletHor;
  }

  @include mediaMaxWidth($mobileWidth) {
    padding: $sectionPaddingMobileVer $sectionPaddingMobileHor;
  }
}

%fontSizeSectionTitle {
  font-size: clamp(16px, 3vw, 36px);
}
