@font-face {
  font-family: "DynaPuff";
  src: url("../fonts/DynaPuff/DynaPuff-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DynaPuffSemiBold";
  src: url("../fonts/DynaPuff/DynaPuff-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "DynaPuffBold";
  src: url("../fonts/DynaPuff/DynaPuff-Bold.ttf") format("truetype");
}
