// colors
$c-richBlack: #0b090a;
$c-eerieBlack: #161a1d;
$c-cultured: #f5f3f4;
$c-imperialRed: #e5383b;
$c-bloodRed: #660708;
$c-blackShadows: #b1a7a6ff;
$c-lightGray: #d3d3d3ff;

// paddings
$sectionPaddingMain: 120px;

// transition time
$transitionTime: 0.5s;

// Color Palette
$rich-black-fogra-39: #0b090aff;
$eerie-black: #161a1dff;
$blood-red: #660708ff;
$ruby-red: #a4161aff;
$carnelian: #ba181bff;
$imperial-red: #e5383bff;
$black-shadows: #b1a7a6ff;
$light-gray: #d3d3d3ff;
$cultured: #f5f3f4ff;
$white: #ffffffff;

/* SCSS RGB */
$rich-black-fogra-39: rgba(11, 9, 10, 1);
$eerie-black: rgba(22, 26, 29, 1);
$blood-red: rgba(102, 7, 8, 1);
$ruby-red: rgba(164, 22, 26, 1);
$carnelian: rgba(186, 24, 27, 1);
$imperial-red: rgba(229, 56, 59, 1);
$black-shadows: rgba(177, 167, 166, 1);
$light-gray: rgba(211, 211, 211, 1);
$cultured: rgba(245, 243, 244, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);
$gradient-radial: radial-gradient(#0b090aff, #161a1dff, #660708ff, #a4161aff, #ba181bff, #e5383bff, #b1a7a6ff, #d3d3d3ff, #f5f3f4ff, #ffffffff);