@import './style/main.scss';

.App {
  @extend %minMaxWidth;
  margin: 0 auto;

  background-color: $c-cultured;
  color: $c-eerieBlack;

  transition: background-color .5s, color .5s;

  &--dark {
    background-color: $c-eerieBlack;
    color: $c-cultured;
  }
}

// scroolbar modification
::-webkit-scrollbar {
  width: 10px;
  background-color: $c-cultured;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $c-eerieBlack; 
}

::-webkit-scrollbar-thumb {
  background-color: $c-eerieBlack; 
  border-radius: 10px;
}
