@import './utils/main.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'DynaPuff', cursive;
  scroll-behavior: smooth;
}

body,
ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: $c-eerieBlack;
  color: $c-cultured;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: unset;
}

// scroolbar modification
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $c-eerieBlack; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $rich-black-fogra-39; 
  border-radius: 10px;
}
